.main {
    width:70%;
    padding: 2rem;
    margin-inline:auto;
}
.header{
    color:red
}
@media(max-width:600px){
 .main {
    width:100%;
    padding: 2rem;
    margin-inline:auto;
}
.header{
    color:blue
}
}